@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300;1,400&family=Ubuntu:wght@300;400&display=swap");
#root {
  width: 100vw;
}
#logo {
  width: 4rem;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #625b71;
  height: 100vh;
  width: 15vw;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
.title {
  font-size: 7rem;
  font-family: "raleway";
  font-weight: lighter;
  margin-left: 1rem;
  color: #f5efe7;
}
#in-box,
in-box:focus {
  width: 28vw;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  font-family: "raleway";
  padding-left: 1rem;
  background: #f0f0f0;
  border: 0.5px solid;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
#add-but {
  width: 5rem;
  height: 2.28rem;
  font-family: "raleway";
  font-size: 1rem;
  color: white;
  background: #625b71;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
.input-area {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}
#list {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-family: "raleway";
  border: 1px solid black;
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  align-items: center;
  border-radius: 1rem;
}
.output-area {
  padding-top: 5rem;
}
#d {
  font-family: "raleway";
  border: none;
  cursor: pointer;
  background-color: #f3edf7;
}
.king {
  display: flex;
}
body {
  background-color: #f3edf7;
}
#right-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1300px) {
  #in-box,
  in-box:focus {
    width: 40vw;
  }
  #list {
    width: 45vw;
  }
  #header {
    width: 20vw;
  }
}

@media (max-width: 850px) {
  #header {
    width: 25vw;
    padding-right: 1rem;
  }
  .title {
    font-size: 6rem;
  }
}

@media (max-width: 400px) {
  #header {
    width: 17vw;
    padding-right: 1rem;
  }
  .title {
    font-size: 4rem;
  }
  #list {
    width: 55vw;
  }
  #in-box,
  in-box:focus {
    width: 42vw;
  }
}
